appdirs==1.4.4
asttokens==2.0.5
attrs==21.4.0
autotiling==1.6
backcall==0.2.0
Beaker==1.11.0
black==21.12b0
btrfsutil==5.16
CacheControl==0.12.10
cachy==0.3.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
cleo==0.8.1
click==8.0.3
clikit==0.6.2
colorama==0.4.4
contextlib2==0.6.0.post1
crashtest==0.3.1
cryptography==36.0.1
debugpy==1.5.1
decorator==5.1.1
distlib==0.3.4
distro==1.6.0
dnspython==2.2.0
docopt==0.6.2
entrypoints==0.3
executing==0.8.2
filelock==3.4.0
flake8==4.0.1
html5lib==1.1
i3ipc==2.2.1
idna==3.3
importlib-metadata==4.8.1
iniconfig==1.1.1
ipython==8.0.1
ipython_genutils==0.2.0
isort==5.10.1
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.0.3
jsonschema==3.2.0
keyring==23.4.0
keyutils==0.6
lark-parser==0.12.0
libtorrent===2.0.5-build-libtorrent-rasterbar-src-libtorrent-rasterbar-2.0.5-bindings-python
lit==13.0.0.dev0
lockfile==0.12.2
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
meson==0.61.1
more-itertools==8.10.0
msgpack==1.0.3
mutagen==1.45.1
mypy-extensions==0.4.3
nodeenv==1.6.0
nose==1.3.7
ordered-set==4.0.2
packaging==20.9
parso==0.8.2
pastel==0.2.1
pathspec==0.9.0
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
pipenv==2022.1.8
pkginfo==1.7.1
platformdirs==2.4.0
pluggy==1.0.0
ply==3.11
poetry==1.1.12
poetry-core==1.0.7
progress==1.6
prompt-toolkit==3.0.26
psutil==5.9.0
ptyprocess==0.7.0
pulsemixer==1.5.1
pure-eval==0.2.2
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pycryptodomex==3.10.1
pyflakes==2.4.0
Pygments==2.11.2
PyGObject==3.42.0
pylev==1.4.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.5
pyright==0.0.13
pyrsistent==0.18.1
pytest==6.2.5
python-xlib==0.31
PyYAML==5.4.1
qutebrowser==2.4.0
ranger-fm==1.9.3
requests==2.26.0
requests-toolbelt==0.9.1
resolvelib==0.5.5
retrying==1.3.3
SecretStorage==3.3.1
shellingham==1.4.0
six==1.16.0
stack-data==0.1.4
team==1.0
toml==0.10.2
tomli==2.0.0
tomlkit==0.8.0
traitlets==5.1.1
trash-cli==0.21.10.24
typing_extensions==4.0.1
udiskie==2.4.0
urllib3==1.26.8
virtualenv==20.11.0
virtualenv-clone==0.5.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.1
yt-dlp==2022.1.21
zipp==3.7.0
