.container {
  margin: auto;
  width: 30%;

  text-align: center;
}

.button {
    background-color: #47adcc;

    width: min-content;

    padding: 10px 20px;

    border-radius: 5px;

    margin: auto;
    margin-top: 10px;

    cursor: pointer;
}

.input {
  margin: 10px;

  font-size: 16px;

  padding: 10px 20px;
}

.user {
    padding: 30px;
    border-style: solid;
    border-width: 2px;

    width: min-content;

    margin: 20px;
}

.approve {
    background-color: #76bdd3;

    width: min-content;

    padding: 10px 20px;

    border-radius: 5px;

    margin-top: 10px;

    cursor: pointer;
}